@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Estilos generales */
* {
  font-family: "Bebas Neue", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*h1 general*/
h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: black;
}

h5 {
  color: #333;
}

span {
  color: white;
}

/* Header */
header {
  background-color: black;
}

/*navbar*/
.nav-bar .navbar-nav .nav-item {
  margin-left: 20px;
  margin-top: 10px;
}
.nav-bar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-bar .navbar-nav .nav-item .nav-link:hover {
  color: rgb(247, 255, 136);
}

.logo_navbar {
  max-width: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.logo_navbar:hover {
  transform: scale(1, 0);
}

.fondo-toggler {
  background-color: white;
  color: white;
}

/*footer*/
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: auto;
}

h1 {
  margin-top: 10px;
}

h2 {
  margin-top: 10px;
}

.carrousell_inicio {
  margin-bottom: 30px;
  border-radius: 10px;
}
.carrousell_inicio img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

/*destacados */
.container_destacados {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_destacados img {
  width: 80%;
  margin-bottom: 10px;
  margin-left: 25px;
  border-radius: 3px;
}
.container_destacados img:hover {
  transform: scale(1.1);
}

/*Pantalones*/
.catalogo_pantalones .space,
.catalogo_pantalones .airy,
.catalogo_pantalones .ample,
.catalogo_pantalones .open,
.catalogo_pantalones .expansive,
.catalogo_pantalones .capacious {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalogo_pantalones .space h2,
.catalogo_pantalones .airy h2,
.catalogo_pantalones .ample h2,
.catalogo_pantalones .open h2,
.catalogo_pantalones .expansive h2,
.catalogo_pantalones .capacious h2 {
  color: white;
}
.catalogo_pantalones .space img,
.catalogo_pantalones .airy img,
.catalogo_pantalones .ample img,
.catalogo_pantalones .open img,
.catalogo_pantalones .expansive img,
.catalogo_pantalones .capacious img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.catalogo_pantalones button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.catalogo_pantalones button:hover {
  background-color: rgb(247, 255, 136);
}

/*Buzos*/
.catalogo_buzos .peace,
.catalogo_buzos .fear,
.catalogo_buzos .knok,
.catalogo_buzos .orange,
.catalogo_buzos .green,
.catalogo_buzos .dreamers {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalogo_buzos .peace h2,
.catalogo_buzos .fear h2,
.catalogo_buzos .knok h2,
.catalogo_buzos .orange h2,
.catalogo_buzos .green h2,
.catalogo_buzos .dreamers h2 {
  color: white;
}
.catalogo_buzos .peace img,
.catalogo_buzos .fear img,
.catalogo_buzos .knok img,
.catalogo_buzos .orange img,
.catalogo_buzos .green img,
.catalogo_buzos .dreamers img {
  height: 200px;
  width: 200px;
  margin-left: 5px;
  border-radius: 10px;
}

.catalogo_buzos button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.catalogo_buzos button h2 {
  color: white;
}
.catalogo_buzos button:hover {
  background-color: rgb(247, 255, 136);
}

/*Remeras*/
.catalogo_remeras .mushroom,
.catalogo_remeras .courage,
.catalogo_remeras .nasa,
.catalogo_remeras .good-vibes,
.catalogo_remeras .thug,
.catalogo_remeras .panther {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalogo_remeras .mushroom img,
.catalogo_remeras .courage img,
.catalogo_remeras .nasa img,
.catalogo_remeras .good-vibes img,
.catalogo_remeras .thug img,
.catalogo_remeras .panther img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.catalogo_remeras button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.catalogo_remeras button:hover {
  background-color: rgb(247, 255, 136);
}

.cuadro {
  padding: 5%; /* Ajusta estos valores para hacerlo más cuadrado */
  border: 1px solid #333;
  border-radius: 5px;
  margin: 20px;
  color: #fff;
}
.cuadro .info .nuestra_marca {
  border: 1px solid black;
}
.cuadro .info .sobre_nosotros {
  border: 1px solid black;
}
.cuadro .info .nuestra_vision {
  border: 1px solid black;
}
.cuadro .info .nuestro_compromiso {
  border: 1px solid black;
}
.cuadro p {
  color: black;
  margin-top: 10px;
}

#contact-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type=text],
input[type=email],
textarea {
  width: 50%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.contact_form button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
  margin: auto;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contact_form button:hover {
  background-color: rgb(247, 255, 136);
}

/* Estilos de la información de contacto */
.contact_form {
  text-align: center;
}

#contact-info {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

.informacion {
  text-align: center;
}

p {
  text-align: center;
}

/* Espacio entre columnas */
.envio {
  text-align: center;
  background: linear-gradient(to right, #000, #333);
  border-radius: 5px;
  margin-bottom: 50px;
  margin: 10px;
}
.envio h3 {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}
.envio p {
  text-align: center;
  color: white;
}
.envio iframe {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border: 0;
  margin: 0 auto;
  /* Centrar horizontalmente el mapa */
  margin-bottom: 45px;
}
.envio button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.envio button:hover {
  background-color: rgb(247, 255, 136);
}

/*Mediaquerys*/
@media (max-width: 471px) {
  .carrousel_inicio {
    display: none;
  }
  .destacados_title {
    display: none;
  }
  .container_destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
  }
  .catalogo_buzos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 30px;
  }
  .catalogo_pantalones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 2px;
  }
  .catalogo_remeras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 30px;
  }
}
@media (max-width: 767px) {
  .nav-list {
    list-style: none;
    margin-left: 1px;
    padding: 0;
    display: flex;
  }
  .nav-list li {
    margin-left: 8px;
  }
  .nav-list a {
    text-decoration: none;
    color: white;
  }
  .nav-list a:hover {
    color: rgb(247, 255, 136);
  }
  /*Pagina index*/
  /*carrousell*/
  .carrousel_inicio {
    width: 60%;
  }
  .container_destacados img {
    width: 80%;
    padding: 5px;
  }
  .container_destacados img .container_destacados img:active {
    transform: scale(1.1);
  }
  /*Pagina remeras*/
  .catalogo_remeras {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    gap: 10px;
    right: 1px;
    padding: 0;
  }
  .catalogo_remeras .mushroom,
  .catalogo_remeras .courage,
  .catalogo_remeras .nasa,
  .catalogo_remeras .good-vibes,
  .catalogo_remeras .thug,
  .catalogo_remeras .panther {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-left: 5px;
  }
  /*Pagina buzos*/
  .catalogo_buzos {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    gap: 10px;
    right: 1px;
    padding: 0;
  }
  /*Catalogo remeras*/
  .catalogo_buzos .peace,
  .catalogo_buzos .fear,
  .catalogo_buzos .knok,
  .catalogo_buzos .orange,
  .catalogo_buzos .green,
  .catalogo_buzos .dreamers {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 18px;
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Catalogo pantalones*/
  .catalogo_pantalones .space,
  .catalogo_pantalones .ample,
  .catalogo_pantalones .expansive,
  .catalogo_pantalones .capacious,
  .catalogo_pantalones .open,
  .catalogo_pantalones .airy {
    background-color: #333;
    border-radius: 10px;
    padding: 30px;
    margin: 1px;
    margin-left: 18px;
  }
}
@media (max-width: 992px) {
  .container_destacados img {
    width: 80%;
    padding: 5px;
  }
  .container_destacados img:active {
    transform: scale(1.1);
  }
}
@media (max-width: 1199px) {
  .container_destacados img {
    width: 97%;
    padding: 5px;
  }
  .container_destacados img:active {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=styles.css.map */
