.catalogo_pantalones .space,
.catalogo_pantalones .airy,
.catalogo_pantalones .ample,
.catalogo_pantalones .open,
.catalogo_pantalones .expansive,
.catalogo_pantalones .capacious{
    @include catalogo-styles;
        img{
            height: 200px;
            width: 200px;
            border-radius: 10px;
        }
}

.catalogo_pantalones button{
    @include boton-catalogo
}