/*Map para catalogo de remeras*/
//map para catalogo de remeras


.catalogo_remeras .mushroom,
.catalogo_remeras .courage,
.catalogo_remeras .nasa,
.catalogo_remeras .good-vibes,
.catalogo_remeras .thug,
.catalogo_remeras .panther {
    @include catalogo-styles;
        img{
            height: 200px;
            width: 200px;
            border-radius: 10px;
        }
}

.catalogo_remeras button{
    @include boton-catalogo;
}
